body{
    margin-top: 80px;
    padding: 10px 400px;
}

div.dropdown-flex{
    margin: 20px 0px;
}



select{
    width: 100%;
}

.dropdowns{
    margin: 20px 0px;
}


.submit{
    margin-top: 20px;
}

#url{
    border: 1px solid black;
}